<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C46367A71CEDA1DB0041DF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46367BB1CEDA1DC0041DF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46367C61CEDA1DC0041DF70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
